header {
    background-color: #2c3e50;
}

.bg-water_green {
    background-color: #1abc9c;
}

.bg-dark_blue {
    background-color: #3a546d;
}

.bg-darker-blue {
    background-color: #2c3e50;
}

/* RESETS */

h5 {
    margin-bottom: 0em;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.fs-9 {
    font-size: 14px;
}



a header nav i {
    transform: scaleX(120%);
}

#start img {
    max-width: 60%;

}

.hr-star {
    width: 80%;
}

.hr-star hr {
    border: 2px solid;
    width: 20%;
    opacity: 1;
}

#start ul li:nth-child(2)::before,
#start ul li:nth-child(3)::before {
    content: "-";
}

#contact ul,
#contact .send {
    width: 100%;
}